body {
    background: aliceblue;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

.profile {
    padding: 0;
    background-image: url(https://i.imgur.com/tOjR6Ui.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.profile figure {
    min-height: 145px;
    position: relative;
    margin-bottom: 65px;
}
.profile figure img {
    width: 100%;
    max-height: 250px;
}
.profile figure .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.profile figure figcaption {
    left: 80%;
    width: 130px;
    height: 130px;
    bottom: -65px;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #777;
}

.profile figure figcaption img {
    width: 100%;
    height: 100%;
}

.profile .caption {
    padding: 10px 0;
    text-align: center;
}
.profile .caption .name {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.steps {
    display: block;
}

.pn {
    padding: 1em;
    width: 100%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.reward-panel {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Rm1OCmy.jpg");
    margin: 20px;
}
.yesterday-panel {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/ZhEeJmr.jpg");
    margin: 20px;
}

.reward-panel .darkblue-header, .yesterday-panel .darkblue-header {
    background: transparent;
    padding: 3px;
    margin-bottom: 15px;
}
.reward-panel h1, .yesterday-panel h1 {
    color: #f2f2f2;
}
.reward-panel h5, .yesterday-panel h5 {
    font-weight: 200;
    margin-top: 10px;
    color: white;
}
.reward-panel footer, .yesterday-panel footer {
    color: white;
}
.reward-panel footer h5, .yesterday-panel footer h5 {
    margin-left:10px; 
    margin-right: 10px;
    font-weight: 700;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    border-radius: 30px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #4558e6;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4558e6;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}