@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
	background-color: #2196F3;
	font-family: 'Dosis', sans-serif;
}
.navbar {
	padding: 3rem 3rem;
}
#username:focus {
	outline: transparent;
}
#signupName:focus {
	outline: transparent;
}
.modal-content {
	background-color: aliceblue;
	border-radius: 20px;
}

.active {
	color: white;
}
img#zenLogo{
	max-width: 100%;
}

span.errorresponse, span.signuperrorresponse {
	color: red;
	font-weight: 5px;
}

li {
	font-size: 15px;
}
.displayinline {
	display: inline-block;
}