{% extends "base.html" %}

{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="static/img/zenlogo.png" alt="zenLogo" id="zenLogo">

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<img src="static/img/cube.png" alt="cube" id="cube">
	  </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-8 col-md-6">
				<h1 class="display-3">Events, gamified. 🚀</h1>
				<div class="card border-light mb-3" style="max-width: 20rem;">
				  <div class="card-body">
				    <p class="lead" id="card-context">Compete with others to get the most points and earn cool achievements! Top the leaderboard and earn cool badges along the way!</p>
				  </div>
				</div>
			</div>
			<div class="list-group col-xs-8 col-md-6">
	  		 <a class="list-group-item list-group-item-action flex-column align-items-start active" id="list-item-1">
	    	  <div class="d-flex w-100 justify-content-between">
	      		<h5 class="mb-1"><strong>Climb the leaderboards. 🏆</strong></h5>
	    	  </div>
	  		 </a>
			  <a class="list-group-item list-group-item-action flex-column align-items-start" id="list-item-2">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><strong>Stay current. 🌊</strong></h5>
			    </div>
			  </a>
			  <a class="list-group-item list-group-item-action flex-column align-items-start" id="list-item-3">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1"><strong>Personalize your account. 🎨</strong></h5>
			    </div>
			  </a>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
	<hr class="my-4">
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal">Log In</a>
		<a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#mySignup">Sign Up!</a>
	</p>
</div>
<div class="modal fade draggable" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login To Zenmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="{{url_for('loading')}}" method="post" id="myLoginData">
		<fieldset>
			<div class="form-group row">
			  <label for="username" class="col-sm-2 col-form-label">User</label>
			  <div class="col-sm-10">
				<input type="text" class="form-control-plaintext" id="username" name="username" placeholder="@Username" autocomplete="off">
			  </div>
			</div>
			<div class="form-group">
			  <label for="password">Password</label>
			  <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="current-password">
			  <span class="errorresponse"></span>
			</div>
		</fieldset>
	    </form>
		</div>
			  <div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="closebtn">Close</button>
			  </div>
    </div>
  </div>
</div>
<div class="modal fade draggable" id="mySignup" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up For Zenmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="#" method="post" id="mySignupData" autocomplete="off">
		<fieldset>
			<div class="form-group row">
			  <label for="signupName" class="col-sm-2 col-form-label">Create a username</label>
			  <div class="col-sm-10">
				<input type="text" class="form-control-plaintext" id="signupName" name="signupName" placeholder="@Username" autocomplete="username">
			  </div>
			</div>
			<div class="form-group">
			  <label for="signupPass">Now come up with a good password.</label>
			  <input type="password" class="form-control" id="signupPass" name="signupPass" placeholder="Password" autocomplete="new-password">
			</div>
			<div class="form-group">
			  <label for="confirmPass">Now type that again.</label>
			  <input type="password" class="form-control" id="confirmPass" placeholder="Password" autocomplete="new-password">
			  <span class="signuperrorresponse"></span>
			</div>
		</fieldset>
		<fieldset>
			<legend>Optional:</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="guestCheck" id="guestCheck" value="false">
          Choose this if you are signing up as a guest.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="adminCheck" id="adminCheck" value="false">
          Choose this if you are going to sign up as an admin.
        </label>
      </div>
		</fieldset>
	    </form>
		</div>
			  <div class="modal-footer">
			  	<div class="alert alert-success" id="loginSuccess">
  				 <strong>Success!</strong> You've successfully made your account. You may now log in.
			    </div>
				<button type="submit" class="btn btn-primary" id="signupSubmitBtn">Submit</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
    </div>
  </div>
</div>
{% endblock %}
{% block foot %}
	{{ super() }}
		<script src="static/js/motion.js"></script>
		<script type="text/javascript">
		var allOrgs
		allOrgs = {{ userdata | safe }};
		var allRegisteredOrgs;
		$('#submitBtn').click(function(){
			var user = $('#username').val().toLowerCase();
			var pw = $('#password').val();
			var matchedCredentials = false;
			for (let i = 0; i < allOrgs.length; i++){
				var [correctUser, correctPw] = allOrgs[i];
				if (user === correctUser && pw === correctPw) {
					matchedCredentials = true
					break
				}
			}
			if (!user || !pw){
				$('.errorresponse').html('Please complete both fields.');
			} else if (!matchedCredentials) {
				$('.errorresponse').html("Incorrect login data");
				$('#username').val('');
				$('#password').val('');	
			} else {
				$('#myLoginData').submit();
			}
		});
		$('#signupSubmitBtn').click(function(){
			var newUser = $('#signupName').val();
			var newPw = $('#signupPass').val();
			var confirmPw = $('#confirmPass').val();
			allRegisteredOrgs = {{ userdata | safe }};

			var orgUsernames = allRegisteredOrgs.map(org => org[0]);

			if (!newUser || !newPw || !confirmPw) {
				$('.signuperrorresponse').html('Please fill out all fields');
			} else if ($.inArray(newUser.toLowerCase(), orgUsernames) !== -1) {
				$('.signuperrorresponse').html('User is already registered. Please sign in!');
			} else if (newPw !== confirmPw) {
				$('.signuperrorresponse').html('Passwords do not match');
			} else {
				$('#mySignupData').submit();
			}
		});
		$('#mySignupData').on('submit', function(e){
			e.preventDefault();
			$.post('/', data=$('#mySignupData').serialize()).done(function(){
				var newUser = $('#signupName').val().toLowerCase();
				var newPw = $('#signupPass').val();
				allOrgs.push([newUser, newPw]);
				allRegisteredOrgs.push([newUser, newPw]);
				$('#loginSuccess').show();
				$('#signupName').val('');
				$('#signupPass').val('');
				$('#confirmPass').val('');
				$.get("/");
			}).fail(function(error){
				alert('Could not insert data!');
				console.log(error);
			});
		});
		$("#guestCheck").click(function () {
			if ($('#guestCheck').is(':checked')) {
				$('#guestCheck').val('true');
				$('#adminCheck').attr("disabled", "");
				$('#adminCheck').val('false');
			} else {
				$('#guestCheck').val('false');
				$("#adminCheck").removeAttr("disabled");
			}
		});

		$("#adminCheck").click(function () {
			if ($('#adminCheck').is(':checked')) {
				$('#guestCheck').attr("disabled", "");
				$("#adminCheck").val('true');
				$('#guestCheck').val('false');
			} else {
				$("#adminCheck").val('false');
				$("#guestCheck").removeAttr("disabled");
			}
		});

	</script>
{% endblock %}
