<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="shortcut icon" href="static/img/favicon.ico">
	<link rel="icon" type="image/gif" href="static/img/favicon.ico">
    <title>Zenmark</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="static/img/zenlogo.png" alt="zenLogo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<img src="static/img/cube.png" alt="cube" id="cube">
	  </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li> -->
    </ul>
  </div>
</nav>
<div class="jumbotron">
	<h1 class="display-3">Events, gamified. 🚀</h1>
	<p class="lead">Be the best organizer by engaging in events, earn points, and redeem prizes! </p>
	<p class="lead">
		<ul>
			<li><strong>Climb the leaderboards.</strong> Compete with others to get the most points!</li>
			<li><strong>Stay current.</strong> Events are always displayed to keep you updated.</li>
			<li><strong>Personalize your account.</strong> Every account lets you personalize your info. Make it you!</li>
		</ul>
	</p>
	<hr class="my-4">
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal">Log In</a>
		<a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#mySignup">Sign Up!</a>
	</p>
</div>
<div class="modal fade draggable" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login To Zenmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="#" method="post" id="myLoginData">
		<fieldset>
			<div class="form-group row">
			  <label for="username" class="col-sm-2 col-form-label">User</label>
			  <div class="col-sm-10">
				<input type="text" class="form-control-plaintext" id="username" placeholder="@Username">
			  </div>
			</div>
			<div class="form-group">
			  <label for="password">Password</label>
			  <input type="password" class="form-control" id="password" placeholder="Password">
			  <span class="errorresponse"></span>
			</div>
		</fieldset>
	    </form>
		</div>
			  <div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
    </div>
  </div>
</div>
<div class="modal fade draggable" id="mySignup" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up For Zenmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form action="#" method="post" id="myLoginData">
		<fieldset>
			<div class="form-group row">
			  <label for="signupName" class="col-sm-2 col-form-label">Create a username</label>
			  <div class="col-sm-10">
				<input type="text" class="form-control-plaintext" id="signupName" placeholder="@Username">
			  </div>
			</div>
			<div class="form-group">
			  <label for="signupPass">Now come up with a good password.</label>
			  <input type="password" class="form-control" id="signupPass" placeholder="Password">
			</div>
			<div class="form-group">
			  <label for="confirmPass">Now type that again.</label>
			  <input type="password" class="form-control" id="confirmPass" placeholder="Password">
			  <span class="errorresponse"></span>
			</div>
		</fieldset>
	    </form>
		</div>
			  <div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  </div>
    </div>
  </div>
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	<script src="static/js/motion.js"></script>
  </body>
</html>