<!DOCTYPE html>
<html>
  <head>
  	{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
	<meta name="theme-color" content="#2196F3">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="shortcut icon" href="static/img/favicon.ico">
	<link rel="icon" type="image/gif" href="static/img/favicon.ico">
    <title>{% block title %}Zenmark{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
  	{% block content %}
	{% endblock %}

	{% block foot %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	{% endblock %}
  </body>
</html>