{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block head %}
	{{ super() }}
	<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/welcome.css">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><img src="static/img/zenlogo_small.png"></a>
      <button type="button" id="sidebarCollapse" class="btn btn-secondary my-2 my-sm-0">
            <i class="fas fa-bars"></i>
            <span>Menu <span class="badge badge-success" id="badgeNumberForm">{%if notifs | length > 1%}{{ notifs | length - 1}}{%endif%}</span></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <h3>Logged in as <strong id="currentUsername">{{current_user.username }}</strong></h3>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/welcome"> <i class="far fa-calendar"></i> Today</a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-calendar-alt"></i> Week</a>
                    </li>
                    {% if not current_user.isGuest %}
                    <li>
                        <a href="#"><i class="fas fa-calendar-plus"></i>  Add events</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="list-unstyled CTAs">
                    {% if not current_user.isGuest %}
                    <li><a href="/myprofile" class="download">View My Profile <span class="badge badge-success" id="badgeWordForm">{% if notifs | length > 1%}{{ notifs | length - 1}} NEW{%endif%}</span></a></li>
                    {% endif %}
                    <li><a href="{{url_for('logout')}}" class="article">Log Out</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">
            	<div class="container-fluid">
            		<div class="row">
                    <div class="">
            			<div class="card card-inverse text-white bg-primary mb-3" id="mainEventCard" style="height: 40rem;">
                            {% if not current_user.isGuest %}
                            <div class="card-block" id="buttonChecker" guest="no">
                            </div>
                            {% else%}
                            <div class="card-block" id="buttonChecker" guest="yes">
                            </div>
                            {% endif %}
						</div>
                    </div>
                    <div class="">
						<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
						  <div class="card-header" id="date-heading"></div>
						  <div class="card-body">
						    <h4 class="card-title">Organizers hosting are:</h4>
						    <hr>
                            <div id="checkIfAnyOrgs">
                            </div>
							<hr>
							<p class="card-text">To modify this, choose an org from the list below, then choose the appropriate action.</p>
							<form action="#" id="mySelection">
							  <fieldset>
							  	    <div class="form-group">
								      <select class="form-control" id="orgSelect" name="orgSelect">
								        <option>Dylan Symm</option>
								        <option>Rope Bunny</option>
								        <option>Selene</option>
								        <option>Noodle</option>
								        <option>Smitten</option>
                                        <option>Heero</option>
                                        <option>Diamond</option>
								      </select>
								    </div>
			                  </fieldset>
                              {% if not current_user.isGuest %}
			                  <button class="btn btn-info" id="addOrg">Add organizer</button>
			                  <button type="submit" class="btn btn-info" id="removeOrg">Remove organizer</button>
                              {% endif %}
			              </form>
						  </div>
						</div>
                       </div>
                       <div class="">
                       </div>
                   </div>
            	</div>
			</div>


{% endblock %}
{% block foot %}
	{{ super() }}
    <script src="static/js/welcome.js"></script>
	<script type="text/javascript">
             $(document).ready(function () {
                 $("#addOrg").click(function(event){
                    var formdata = $('#mySelection').serialize();
                    console.log(formdata);
                    $.ajax({
                        url: '/addorg',
                        type: 'POST',
                        data: formdata
                    }).done(function(response){
                        console.log('ADD ORG AJAX call success');
                        update = response['updateOrg'];
                        $('#checkIfAnyOrgs').append('<div class="card bg-secondary mb-3 org-text">\
                              <div class="card-body">\
                                <p class="card-text">' + update + '</p>\
                              </div>\
                            </div>');
                    }).fail(function(event){
                        alert("Looks like you have outdated dates. Please update them!");
                    });
                 });

                 var d = new Date();
                 var n = d.getDay();
                 var today;
                 switch (n) {
                    case 0:
                        today = "Sunday";
                        break;
                    case 1:
                        today = "Monday";
                        break;
                    case 2:
                        today = "Tuesday";
                        break;
                    case 3:
                        today = "Wednesday";
                        break;
                    case 4:
                        today = "Thursday";
                        break;
                    case 5:
                        today = "Friday";
                        break;
                    case 6:
                        today = "Saturday";
                 }
                 $('#date-heading').html('Today is ' + today + ".");


                 var all_event_data = {{eventdata | safe }};
                 var todays_event_data = all_event_data.filter(event => event[0] == today);

                 var [_, game, orgs] = todays_event_data[0];
                 if (orgs) {
                    var orgsList = orgs.split(',');
                    console.log("ORGSLIST: ", orgsList);
                    orgsList.forEach(function(element){
                        if (element.length > 0) {
                            $("#checkIfAnyOrgs").append('<div class="card bg-secondary mb-3 org-text">\
                              <div class="card-body">\
                                <p class="card-text">' + element + '</p>\
                              </div>\
                            </div>');
                        }
                    });
                 }
                 if (game == "Gaming") {
                    var gameHtml =  '<img src="static/img/gamenight.png" class="card-img" id="mainEventCardPic"> \
                            <div class="card-img-overlay text-primary text-white"> \
                                <h2 class="card-title text-white">It\'s game night!</h2> \
                                <p class="card-text text-white">The most frequent events on Love Shack are game nights. Make it fun!</p>\
                            </div>';
                    $buttoncheck = $('#buttonChecker').attr('guest');
                    if ($buttoncheck == "no") {
                        var gameButton = '<button type="button" class="btn btn-success" id="endEventButton">Click here to end your event!</button>';
                    }
                 } else if (game == "Karaoke") {
                    var gameHtml =  '<img src="static/img/karaoke_night.png" class="card-img" id="mainEventCardPic"> \
                            <div class="card-img-overlay text-primary text-white"> \
                                <h2 class="card-title text-white">It\'s karaoke night!</h2> \
                                <p class="card-text text-white">Time to sing! Host a karaoke event and get people to sing! If you need help maintaining \
                                the queue, try out our Stager app.</p> \
                            </div>';
                    $buttoncheck = $("#buttonChecker").attr('guest');
                    if ($buttoncheck == "no") {
                        var gameButton =  '<button type="button" class="btn btn-success" id="endEventButton">Click here to end your event!</button> \
                                <a href="https://stager-app.herokuapp.com/"><button type="button" class="btn btn-info" style="width: 100%;">Open Stager</button></a>';
                    }
                 }
                 $(gameHtml).insertBefore($("#buttonChecker"));
                 $("#buttonChecker").html(gameButton);
                 $('#endEventButton').click(function(){
                    $.ajax({
                        url: '/awardgift',
                        type: 'POST'
                    }).done(function(response){
                        console.log("AJAX Request success!");
                        newNumber = response['notifs'].length - 1;
                        $('#badgeNumberForm').html(newNumber);
                        $buttoncheck = $('#buttonChecker').attr('guest');
                        if ($buttoncheck == "no") {
                            $('#badgeWordForm').html(newNumber + " NEW");
                        }  
                    }).fail(function(){
                        console.log('AJAX Request failed');
                    });
                 });
            });
    </script>

{% endblock %}
	